body {
  padding: 4rem;
}
header{
  display: block;
  margin-bottom: 2rem;
}
span {
  color: purple;
}

.table {
  width: 70%;
  margin-bottom: 20px;
  border: 1px solid #dddddd;
  border-collapse: collapse;
}

table th {
  font-weight: bold;
  padding: 5px;
  background: #efefef;
  border: 1px solid #dddddd;
}

table td {
  border: 1px solid #dddddd;
  padding: 5px;
}

.student-filter{
  padding-bottom: 1rem;
  
  border: 1px solid #dddddd;

}

.user-info{
  margin-bottom: 2rem;


}

.user-info *{
    font-size: 20px;
}

.controls *{
  padding: 0.2rem;
  border: 1px solid lightblue;
  width: fit-content;
  margin-bottom: 0.5rem;
  text-decoration: none;
  border-radius: 5px;
  transition: all 0.2s linear;
}

.controls *:hover{
  background-color: rgb(143, 207, 228);
}

.controls *:active{
  color: blue;
  background-color: rgb(65, 150, 178);
}

